// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Typography

$base-font-size: 15px;
$font-family: "Poppins", sans-serif;

$desktop-width: 800px;

%m0p0 {
  margin: 0;
  padding: 0;
}

%tac {
  text-align: center;
}

%lh {
  line-height: 1.5em;
}
